/**
* @author  Xu Ding
* @website https://www.StarTutorial.com
* @revised by Alessandro Marinuzzi
* @website https://www.alecos.it/
* @revised 10.17.2017
**/
/*************************** Calendar Top Navigation **************************/
#calendar {
  margin: 0px auto;
  padding: 0px;
  width: 465px;
  font-family: Helvetica, "Times New Roman", Times, serif;
  background-color: #1a93e6;
-webkit-box-shadow: 8px 3px 11px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 8px 3px 11px -6px rgba(0,0,0,0.75);
box-shadow: 8px 3px 11px -6px rgba(0,0,0,0.75);
}
#calendar .calendar_box {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 40px;
  background-color: #0c598e;
}
#calendar .calendar_header {
  line-height: 40px;  
  vertical-align: middle;
  position: absolute;
  left: 11px;
  top: 0px;
  width: 440px;
  height: 40px;
  text-align: center;
}
#calendar .calendar_header .calendar_prev, #calendar .calendar_header .calendar_next {
  position: absolute;
  top: 0px;
  height: 17px;
  display: block;
  cursor: pointer;
  text-decoration: none;
  color: #FFF;
}
#calendar .calendar_header .calendar_title {
  color: #FFF;
  font-size: 18px;
}
#calendar .calendar_header .calendar_prev {
  left: 0px;
}
#calendar .calendar_header .calendar_next {
  right: 0px;
}
/*************************** Calendar Content Cells ***************************/
#calendar .calendar_content {
  border: 1px solid #1a93e6;
  border-top: none;
}
#calendar .calendar_label {
  float: left;
  margin: 0px;
  padding: 0px;
  margin-top: 5px;
  margin-left: 5px;
}
#calendar .calendar_label .calendar_names {
  margin: 0px;
  padding: 0px;
  margin-right: 5px;
  float: left;
  width: 60px;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  font-size: 15px;
  background-color: #1a93e6;
}
#calendar .calendar_dates {
  float: left;
  margin: 0px;
  padding: 0px;
  margin-left: 5px;
  margin-bottom: 5px;
}
/** overall width = width+padding-right **/
#calendar .calendar_dates .calendar_names, #calendar .calendar_dates .calendar_days, #calendar .calendar_dates .calendar_today {
  margin: 0px;
  padding: 0px;
  margin-right: 5px;
  margin-top: 5px;
  line-height: 60px;
  vertical-align: middle;
  float: left;
  width: 60px;
  height: 60px;
  font-size: 20px;
  background-color: #f2f0f0;
  color: #1a93e6;
  text-align: center;
  transition: background-color 0.15s linear 0s;
}

#calendar .calendar_dates .calendar_days, #calendar .calendar_dates .calendar_today {
  cursor: pointer;
}

#calendar .calendar_dates .calendar_days:hover {
  background-color: #EEE;
}
#calendar .calendar_dates .calendar_today {
  background-color: #89c2e9;
}
:focus {
  outline: none;
}
.calendar_clear {
  clear: both;
}
