@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900);
/*Theme Colors*/
/*bootstrap Color*/
/*Normal Color*/
/*Border radius*/
/*Preloader*/



.shad {
	    -webkit-box-shadow: 0px 10px 21px -4px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 10px 21px -4px rgba(0,0,0,0.35);
    box-shadow: 0px 10px 21px -4px rgba(0,0,0,0.35);
}

.book1 {
	padding: 20px 40px;
	background-color: #1a93e6;
	font-weight: lighter;
	color: #fff;
	letter-spacing: 2px;
    text-transform: uppercase;
}

.book1:hover {
    color: #fff;
    background-color: #00255e;
    border-color: #00255e;
}

.book2 {
	padding: 20px 40px;
	background-color: red;
	font-weight: lighter;
	color: #fff;
	letter-spacing: 2px;
    text-transform: uppercase;
	border: 0px !important;
}

.book2:hover {
    color: #fff;
    background-color: #00255e;
    border-color: #00255e;
}

.biga {
	padding: 10px 14px;
}

#side-menu > li > a.active {
    background-color: #00255e;
    color: #ffffff;
}

.top-book {
	background-color: #f03018;
	color:#fff!important;
	border-radius: 5px;
}
.top-book:hover {
    color: #fff;
    background-color: #00255e !important;
    border-color: #00255e !important;
}


.square {
    float:left;
    position: relative;
    width: 30%;
    padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover; /* you change this to "contain" if you don't want the images to be cropped */
}

/* new clearfix */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.reg1 {
	background-color: #fff;
}
